:root{
    --main-color: #25afff;
    --bacground-color: antiquewhite;
}
body{
    background-color: var(--bacground-color);
    line-height: 1.8;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.open, .modal-btn{
    border: none;
    background-color: var(--main-color);
    padding: 10px 15px;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, 0.35);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  
  .modal {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(23, 23, 23, 0.25);
    padding: 30px 50px;
    width: 500px;
  }
  
  .modal h1,
  .modal p {
    margin-bottom: 17px;
  }
  .modal h1{
    font-size: 37px;
  }
  .modal p{
    font-size: 19px;
  }
  .avatar{
    width: 150px;
    border-radius:  70px;
    margin: 10px;
  }
  
  .show {
    opacity: 1;
    pointer-events: auto;
  }